<!-- our collection of bikes will go here. we need to loop through it and display  -->

<% bikes.forEach(function(bike){ %>

    <p><%= bike.year + ' ' + bike.manufacturer + ' ' + bike.model %></p>

<% }); %>